<!-- templates/contact.html -->
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/styles.css">
<div class="contact-float-container">
    <h2>Contact Us</h2>
    <img src="/static/images/home_pic.jpg" alt="">
    <p><strong>Phone:</strong> +91-XXX-XXX-XXXX</p>
    <p><strong>&nbsp;Email:</strong> fitzone@example.com</p>
    <p><strong>Instagram:</strong> 
        <a href="https://instagram.com/fitzone" target="_blank">@fitzone</a>
    </p>
</div>
{% endblock %}
